extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h1= "종목코드"
  input(type="text", name="isuSrtCd")
  button(type='button' onclick='temp_click()') #{title}
  a(href="https:www.naver.com") #{title}
